<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :call, "Call time" %>
    <%= f.time_select :call %>
  </div>
  <div class="field">
    <%= f.label :end, "End time" %>
    <%= f.time_select :end %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, [['Rehearsal', 'Rehearsal'], ['Gig', 'Gig'], ['Misc', 'Misc']] %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :dress %>
    <%= f.text_field :dress %>
  </div>
  <div class="field">
    <%= f.label "Call location" %>
    <%= f.text_field :calllocation %>
  </div>

  <div>
    <%= f.submit class: "btn btn-large btn-primary" %>
  </div>
<% end %>
