<h1>Events</h1>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Call time</th>
    <th>End time</th>
    <th>Category</th>
    <th>Title</th>
    <th>Dress</th>
    <th>Call location</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date.strftime("%e %b %y") %></td>
    <td><%= event.call.strftime("%l:%M %p") %></td>
    <td><%= event.end.strftime("%l:%M %p") %></td>
    <td><%= event.category %></td>
    <td><%= event.title %></td>
    <td><%= event.dress %></td>
    <td><%= event.calllocation %></td>

    <td><%= link_to 'Details', event %>
    <% if can? :update, @event %>
        |<%= link_to 'Edit', edit_event_path(event) %></td>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<% if can? :update, @event %>
  <%= link_to 'New Event', new_event_path %>
<% end %>