<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Call:</b>
  <%= @event.call %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Dress:</b>
  <%= @event.dress %>
</p>

<p>
  <b>Calllocation:</b>
  <%= @event.calllocation %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
